// Bootstrap overwrites
$blue: #09436f !default;
$yellow: #eba30b;
$colors: (
	"blue": $blue,
	"yellow": $yellow
) !default;

$carousel-caption-color: --bs-body-color-rgb;

@import "../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
//@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
//@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
//@import "../node_modules/bootstrap/scss/badge";
//@import "../node_modules/bootstrap/scss/alert";
//@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
//@import "../node_modules/bootstrap/scss/toasts";
//@import "../node_modules/bootstrap/scss/modal";
//@import "../node_modules/bootstrap/scss/tooltip";
//@import "../node_modules/bootstrap/scss/popover";
//@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/carousel";
//@import "../node_modules/bootstrap/scss/spinners";
//@import "../node_modules/bootstrap/scss/offcanvas";
//@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";

// Bootstrap supplements
.h-0 {
	height: 0;
}
// fadec Styles
@font-face {
	font-family: 'Arvo';
	font-style: normal;
	font-weight: 400;
	src: url(../assets/font/arvo.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.serif {
	font-family: "Arvo", "Times New Roman", Times, serif;
}
.sans-serif {
	font-family: var(--bs-body-font-family); //normal bootstrap fonts
}
body {
	@extend .serif;
}
article,
#archive {
	@extend .my-4, .container, .serif;
}
.post-edit-link,
input[type="submit"] {
	@extend .btn, .btn-warning;
}
// Form Styles
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
	@extend .form-control;
}
form label {
	@extend .w-100;
}
// WordPress Alignment Classes
img.alignnone,
img.aligncenter,
.img-align {
	@extend .rounded, .mx-auto, .d-block, .mw-100, .h-auto, .mb-3;
}
img.alignleft {
	@extend .img-align, .float-md-start, .me-md-3;
}
img.alignright {
	@extend .img-align, .float-md-end, .ms-md-3;
}

// Single Post classes
.post-head-container {
	position: relative;
	text-align: left;
}
.post-heading {
	position: absolute;
	bottom: 8px; 
	left: 16px;
}
.post-heading-span {
	padding: 3px;
	background-color:white
}
.post-head-img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
}

// Slider classes
.slider-img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	object-position: center;
}
.carousel-heading-span {
	padding: 3px;
	background-color:white
}
